<li class="burger-items">
	<div class="column" id="name">
		{{burger_name}} {{#unless devoured}}
	</div>
	<div class="column" id="button">
		<div class="eat-btn">
			<button class="eat-burger" data-newdevoured="{{devoured}}", data-position="right" data-tooltip="Eat burger" data-id="{{id}}">Eat</button>
		</div>
	</div>
	{{/unless}}
</li>
